<footer>
    <h6 class="footer-text">&copy; tcymtnbc.com © 2022 All rights reserved</h6>
    <div class="social-links">
        <a href="https://www.youtube.com/@ilaiyadeepamtcymycsysm7960" target="_blank">
            <img src="../../assets/icons/YouTubeIcon.svg" alt="youth@Madras Mylapore Archdiocese YT Channel">
        </a>
        <a href="https://www.instagram.com/tcym_tn/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank">
            <img src="../../assets/icons/InstagramIcon.svg" alt="youth@Madras Mylapore Archdiocese Instagram">
        </a>
        <a routerLink="/developer">
            <img src="../../assets/icons/DeveloperTeamIcon.svg" alt="Site Developer Team">
        </a>
    </div>
</footer>