@import "../style/variables.scss";
@import "../../styles.scss";

.contact-container {
    @extend .app-container;
    padding-top: 30px;
    padding-bottom: 30px;

    .contact-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 20px;
        background-color: $white;
        padding: 3% 5% 3% 5%;

        .contact-title {
            margin-bottom: 30px;

            h4 {
                @include display-s;
                padding: 0 0 5px 0;
            }
    
            h6 {
                @include body-s;
            }
        }

        .contact-details {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-top: 2px;
            }

            h5 {
                @include body-m;
                margin: unset;
                line-height: 1.5;
            }

            .address {
                display: flex;
                justify-content: flex-start;
                flex-shrink: 0;
            }

            .other-details {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                flex-wrap: wrap;

                .details {
                    display: flex;
                }

                a {
                    color: inherit;

                    &:link,
                    &:active {
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $device-phone) {

    .contact-container .contact-card .contact-title h4 {
        @include display-xs;
        font-weight: bold;
    }

    .contact-container .contact-card .contact-details {
        flex-direction: column;
        height: fit-content;
    }

}