<div class="contact-container">
    <div class="contact-card">
        <div class="contact-title">
            <h4>Let’s get in touch!</h4>
            <h6>Got queries about our Service? Our team is here to help. Contact us for quick and friendly support.</h6>
        </div>
        <div class="contact-details">
            <div class="address">
                <img src="../../assets/icons/Address.svg">
                <h5>தமிழ்நாடு இளைஞர் பயிற்சி மையம் ,<br>
                    இளைய தீபம் ,<br> அ.பெ.எண். 146,<br> கருமண்டபம்,<br> திருச்சிராப்பள்ளி  620001</h5>
            </div>
            <div class="other-details">
                <div class="details">
                    <img src="../../assets/icons/PhoneCall.svg">
                    <h5>+91 6383 7572 33</h5>
                </div>
                <div class="details">
                    <img src="../../assets/icons/EnvelopeSimple.svg">
                    <h5>tcymtnbc@gmail.com</h5>
                </div>
                <div>
                    <a class="details" target="_blank" href="https://whatsapp.com/channel/0029Va5K31MHrDZfYiCvKr3x">
                        <img src="../../assets/icons/Chat.svg">
                        <h5>WhatsApp Channel!</h5>
                    </a>
                </div>
                <div>
                    <a class="details" target="_blank" href="https://maps.app.goo.gl/y64F4Y4ZzdK1PBqG9">
                        <img src="../../assets/icons/MapLocation.svg">
                        <h5>See Location!</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>