<div class="metrics-container">
    <div class="metrics-details">
        <div class="title">
            <h4 class="text-center">About us</h4>
            <h5>TNBC Youth Commission is the organ of Tamil Nadu Bishops Council. It coordinates all the Diocesan Youth Commissions of Tamil Nadu in planning of trainings, actions and Events.</h5>
            <h4 class="text-center">Goal</h4>
            <h5>To form the youth filled with enthusiasm, dedication and inspiration by the Holy Spirit, to create a better society and to live the values of Jesus.</h5>
           
        </div>
        <!-- <div class="metrics">
            <div class="metrics-card" *ngFor="let metric of metrics">
                <h4>{{ metric.value }}</h4>
                <ul >
                        <li>{{ metric.Place1 }}</li>
                        <li>{{ metric.Place2}}</li>
                        <li>{{ metric.Place3}}</li>
                        <li>{{ metric.Place4}}</li>

               </ul> 
            </div>
        </div> -->
        
    </div>
</div>

