@import "../style/variables.scss";

.landing-page-container {
    position: relative;

    p {
        @include display-l;
        color: $theme-yellow;
        margin: unset;
    };
    
    h1 {
        @include display-xl;
        margin: unset;
    };
}