@import "../style/variables.scss";
@import "../../styles.scss";

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;

    @extend .app-container;
    padding-top: 2%;
    padding-bottom: 3%;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            @include display-m;
        }

        h6 {
            @include body-m;
            text-align: center;
        }
    }

    .team-card {
        display: flex;
        gap: 5em;
        flex-wrap: wrap;

        justify-content: center;

        .card {
            display: flex;
            flex-direction: column;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 20px;
            background-color: $white;

            height: 420px;
            width: 300px;

            align-items: center;

            img {
                width: 300px;
                height: 300px;
                border-radius: 20px 20px 0 0;
            }

            h5 {
                @include body-m;
                font-weight: bold;
                margin-top: 20px;
            }

            h6 {
                @include body-s;
                margin: unset;
                margin-bottom: 15px;
            }

            hr {
                width: 100%;
                background-color: $primary-shade;
                height: 0.6px;
                margin: unset;
            }
        }

        .card-footer {
            display: flex;
            padding-top: 8px;
            justify-content: space-between;
            width: 250px;

            .birthday {
                display: flex;
                align-items: center;

                img {
                    height: 15px;
                    width: 15px;
                    border-radius: 2px;
                }

                h6 {
                    @include body-s;
                    margin: unset;
                }
            }


            .social-links {
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: space-evenly;

                img {
                    height: 27px;
                    width: 27px;
                }
            }
        }
    }
}

@media screen and (max-width: $device-tablet) {

    .team-container {
        padding-top: 5%;
        padding-bottom: 5%;
    }

}

@media screen and (max-width: $device-phone) {

    .team-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }

}